@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Fredoka+One&family=Nerko+One&family=Righteous&family=Rubik+Spray+Paint&display=swap");

.listmargin {
  margin-top: 60px;
  font-family: "Fredoka One", cursive;
}

.listgambar {
  margin-top: 15px;
}

.marginp {
  margin-top: -20px;
}
